@import url('https://fonts.googleapis.com/css?family=Karma');
@import url('https://fonts.googleapis.com/css?family=Lobster');

*{
	margin:0;
	padding:0;
}

body {
	font-family: 'Karma', serif;
	font-size:16px;
	color:black;
	margin:0px 0px 0px 0px;
}

.wrapper{
	margin:0px 0px 0px 0px;
}

/**NAVBAR**/
nav {
	width: 100%;
	height: 80px;
	background-color: #1793c4;
	line-height:80px;
	opacity:0.9;
	z-index:999;
	position:fixed;
	
}

nav ul{
	float: right;
	margin-right:30px;
	overflow:hidden;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.4s all;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	padding: 30px;
	font-size:18px;
}

nav ul li:hover {
	background-color: #666e82;
	transition: all .4s ease-in-out;
	border-radius:5px;
}

nav ul li.dropdown {
    display:inline-block;
}

.dropdown-menu {
    display: none;
    position:absolute;
    background-color:#f5f5f5;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.dropdown-menu a {
    color: #000;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-menu a:hover {
    background-color: #1793c4;
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/*Akhir Navbar*/

/*Home*/

#home{
  min-height: 700px;
  background: url('images/banner.jpg') no-repeat fixed;
  background-size: 100% 100%;
  color:#fff;
  text-align:center;
  position: relative;
}



.banner h1{
  font-size: 60pt;
  font-family: "Monotype Corsiva";
  padding-top:240px;

}

.banner h4{
  font-size: 25pt;
  padding-top:30px;
  font-family: "Monotype Corsiva";
}

.button{
  margin-top: 100px;
}
.button .btn {
  background: transparent;
  border:1px solid #fff;
  text-decoration: none;
  color: #fff;
  padding:10px 40px;
  border-radius: 10px;
  transition: 0.5s;
  font-size:18px;

}

.button .btn:hover{
  background: rgba(255,255,255, .7);
  color:rgba(0,0,0, .7);
}
/*Akhir Home*/

/*Profile*/
#profile{
  min-height: 900px;
  
}

.judul{
	
  padding-top: 80px;
  font-size:30pt;
  text-align: center;
}

.garis{
  margin-top: 20px;
  color: #fff;
}
.hr-1{
  width: 200px;
  color: #000;
  border-top:2px solid rgba(0,0,0,.4);
  
}

.hr-2{
  width: 300px;
  color: #000;
  border-top:4px solid rgba(0,0,0, .5);
  margin-top:8px;
}

.konten, .konten2{
	float:left;
	width:500px;
	padding:10px;
	margin-left:100px;
}

.konten2 img{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding-bottom:20px;
}

.konten img{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding-bottom:20px;
}

.sub{
	font-size:30px;
	text-align:center;
	padding-bottom:10px;
}

.paragraf{
	font-size:18px;
	text-align:left;
}

#jurusan{
	min-height:600px;
	margin-top:60px;
}

.tkj, .tkr{
	float:left;
	width:500px;
	padding:10px;
	margin-left:100px;
	
}

.tkr img{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding-bottom:20px;
}

.tkj img{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding-bottom:20px;
}


#sambutan{
	min-height:600px;
	margin-top:150px;
	background-color:#e5e5e5;
}

.sambutan img{
	float:left;
	padding:20px;
	margin-top:18px;
}

.sambutan p{
	margin-top:35px;
}

/*MEDIA*/

#media{
  min-height: 600px;
  background:url("images/tile.jpg") no-repeat;
  background-size: 100% 100%;
  background-color:rgba(0,0,0, .5);
  margin-top: 115px;
  color: white;

}

.media .hr-1{
  border-top:2px solid #fff;
}

.media .hr-2{
  border-top:2px solid #fff;
}

.img-media{
  margin-left: 50px;
  margin-top: 70px;

}

.img-media .baris-1 img,
.img-media .baris-2 img{
  width: 200px;
  height: 200px;
  margin-right: 50px;
  border:4px solid rgba(255,255,255, .5);
  transition: .8s;
}

.img-media .baris-1 img:hover,
.img-media .baris-2 img:hover{
  transform: rotate(360deg) scale(1.5);
}

.img-media .baris-2 img{
  margin-top: 40px;
  margin-bottom: 50px;
}


/*akhir media*/

/*Kontak*/
#contact{
  min-height: 700px;
}

form{
	margin-top:50px;
	text-align:center;
}

input{
	height:45px;
}

.form-control {
	width:600px;
	border:none;
	font-size:18px;
	border-bottom: 1px solid grey;
	margin-bottom:16px;
	outline:none;
	background:transparent;
}

form .submit{
	background: #5cb85c;
	border-color:transparent;
	color:#fff;
	font-size:20px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top:20px;
	height:50px;
}

form .submit:hover{
	background-color:#5799c3;
	cursor:pointer;
}

/**FOOTER**/
.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
  margin-top:40px;
  margin-left:50px;
  margin-bottom:20px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
  
}

.footer .icons a:hover{
	background-color: #0ffa;
	transition: all 0.8s ease-out;
}

.footer .icons a {
  display: inline-block;
  padding:10px;
  width: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
}


/* footer center*/

.footer .footer-center {
  width: 25%;
  margin-top:40px;
  margin-left:30px;
  margin-bottom:20px;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 25%;
  margin-top:20px;
  margin-left: 100px;
  margin-bottom:20px;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}